:root {
	--duration-animation-loader: 1000ms;
	
	--duration-transition-base: 200ms;
	--duration-transition-none: 0ms;

	--transition-all: all 0.2s ease-in-out;
	--transition-svg: all 0.2s ease-in-out, color 0s;
}