@use "./typography" as *;


// ВЫРАВНИВАНИЕ FLEX ПО ЦЕНТРУ
@mixin flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

// ВЫРАВНИВАНИЕ FLEX В СТОЛБЕЦ
@mixin flex-column {
	display: flex;
	flex-direction: column;
}

// ВСЁ ДОСТУПНОЕ ПРОСТРАНСТВО
@mixin full-size {
	height: 100%;
	width: 100%;
}

// ПЕРЕПОЛНЕНИЕ СО СКРОЛЛОМ
@mixin scroll-content($width: 6px) {
	overflow-y: auto;
	height: 100%;

	scrollbar-width: thin;
	scrollbar-color: var(--color-scrollbar-thumb) transparent;

	&::-webkit-scrollbar {
		width: $width;

		&-track {
			background: transparent;
			border-radius: 2px;
		}

		&-thumb {
			background: var(--color-scrollbar-thumb);
			border-radius: 2px;
		}
	}
}


// ФОКУС ЭЛЕМЕНТА С КЛАВИАТУРЫ
@mixin focus-visible {
	border: max(0.1vw, 2px) solid transparent;

	&:focus-visible {
		border-color: var(--color-accent);
	}
}


// АВАТАР ПОЛЬЗОВАТЕЛЯ, ИЗОБРАЖЕНИЕ ЧАТА
@mixin avatar-base {
	position: relative;

	@include flex-center;
	flex: 0 0 auto;
	height: var(--size-avatar-base);
	width: var(--size-avatar-base);

	@include title;

	border-radius: 100%;

	overflow: visible;
	transition: background var(--duration-transition-none);
}

// БАЗОВАЯ КНОПКА С ИКОНКОЙ
@mixin button-base() {
	@include flex-center;
	height: var(--size-button-base);
	width: var(--size-button-base);

	@include text;

	border-radius: max(0.25vw, 5px);

	transition: all var(--duration-transition-base) ease-in-out, color var(--duration-transition-none);

	@include focus-visible;

	& svg {
		@include full-size;
		color: inherit;
	}
}

// КРУГЛАЯ КНОПКА С ИКОНКОЙ
@mixin button-round {
	@include flex-center;
	height: var(--size-button-round);
	width: var(--size-button-round);

	@include text(true);

	background: var(--color-button);
	border-radius: 100%;

	transition: all var(--duration-transition-base) ease-in-out, color var(--duration-transition-none);
	
	@include focus-visible;

	& svg {
		height: 70%;
		width: 70%;

		color: inherit;
	}
}