@use "./colors" as *;
@use "./sizes" as *;
@use "./durations" as *;
@use "./typography" as *;

/// Различные глобальные миксины и миксины для кнопок


// ВЫРАВНИВАНИЕ FLEX ПО ЦЕНТРУ
@mixin flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

// ВЫРАВНИВАНИЕ FLEX В СТОЛБЕЦ
@mixin flex-column {
	display: flex;
	flex-direction: column;
}

// ВСЁ ДОСТУПНОЕ ПРОСТРАНСТВО
@mixin full-size {
	height: 100%;
	width: 100%;
}


// ФОКУС ЭЛЕМЕНТА С КЛАВИАТУРЫ
@mixin focus-visible {
	border: 2px solid transparent;

	&:focus-visible {
		border-color: $color-accent;
	}
}


// АВАТАР ПОЛЬЗОВАТЕЛЯ, ИЗОБРАЖЕНИЕ ЧАТА
@mixin avatar-base {
	position: relative;

	@include flex-center;
	flex: 0 0 auto;
	height: $size-avatar-base;
	width: $size-avatar-base;

	@include typography(title);

	border-radius: 100%;

	overflow: visible;
	transition: background $duration-animation-none;
}


// БАЗОВАЯ КНОПКА С ИКОНКОЙ
@mixin button-base {
	height: $size-button-base;
	width: $size-button-base;

	color: $color-text-muted;

	border-radius: 5px;

	transition: all $duration-animation-base ease-in-out, color $duration-animation-none;

	@include focus-visible;

	& svg {
		@include full-size;
		color: inherit;
	}
}

// КРУГЛАЯ КНОПКА С ИКОНКОЙ
@mixin button-round {
	@include flex-center;
	
	height: $size-button-round;
	width: $size-button-round;

	color: $color-text-main;

	background: $color-button;
	border-radius: 100%;

	transition: all $duration-animation-base ease-in-out, color $duration-animation-none;
	
	@include focus-visible;

	& svg {
		height: 70%;
		width: 70%;

		color: inherit;
	}
}