:root {
	// КНОПКИ
	--size-button-base: max(24px, 1.25vw);
	--size-button-round: max(40px, 2.08vw);
	--size-button-message: max(50px, 2.6vw);

	// LOADER
	--size-loader: max(50px, 2.6vw);

	// СТАТУС ПОЛЬЗОВАТЕЛЯ
	--size-status: max(11px, 0.63vw);
	
	// АВАТАРЫ
	--size-avatar-base: max(50px, 2.6vw);
}