:root {
	// Основные фоны
	--color-bg-primary: #E8ECEF; /* Основной фон чата */
	--color-bg-secondary: #F5F5F5; /* Фон боковой панели */
	--color-bg-extra: #00000020; /* Фон даты сообщений в истории */

	// Фоны кнопок и активных элементов
	--color-button: #00000005; /* Фон различных кнопок, полей для ввода */
	--color-scrollbar-thumb: #00000050; /* Фон ползунка скроллбара */
	--color-scrollbar-track: #2C2C2C95; /* Фон скроллбара */

	// Фоны сообщений
	--color-message-user: #1566A3; /* Фон сообщений пользователя */
	--color-message-recepient: #00000010; /* Фон сообщений собеседника */

	// Текстовые цвета
	--color-text-primary: #2E3338; /* Основной текст */
	--color-text-secondary: #757A80; /* Текст в чатах в боковой панели */
	--color-text-extra: #4F5660; /* Текст даты сообщений */
	--color-text-extra-user: #72b5e8;

	// Границы и разделители
	--color-border: #E5E5E5; /* Скроллбар */

	// Выбранные элементы и hover эффекты
	--color-active-bg: #00000010; /* Фон при hover эффекте */

	// Акцентные цвета
	--color-accent-primary: #007BFF;
	--color-accent-warning: #FFD52A;
	--color-accent-success: #61C339;
	--color-accent-danger: #CB2436;
	--color-accent-white: #FFFFFF;
	--color-accent-black: #0A1218;
}

[data-theme="dark"] {
	// Основные фоны
	--color-bg-primary: #202020;
	--color-bg-secondary: #272727;
	--color-bg-extra: #FFFFFF20;

	// Фоны кнопок и активных элементов
	--color-button: #FFFFFF10;
	--color-scrollbar-thumb: #FFFFFF50;
	--color-scrollbar-track: #2C2C2C95;
	
	// Фоны сообщений
	--color-message-user: #1566A3;
	--color-message-recepient: #FFFFFF10;
	
	// Текстовые цвета
	--color-text-primary: #FFFFFF;
	--color-text-secondary: #888888;
	--color-text-extra: #A1AAB3;
	--color-text-extra-user: #B7D9F3;
	
	// Границы и разделители
	--color-border: #FFFFFF05;
	
	// Выбранные элементы и hover эффекты
	--color-active-bg: #FFFFFF10;

	// Акцентные цвета
	--color-accent-primary: #0078D4;
}